

.todoLabelWrap{
    background-color: #fff;
}
.btnbox{
    margin: 20px auto;
    width: 100%;
    height: 40px;
    text-align: center;
}


.todolabel{
    position: relative;
    /* margin-bottom: 20px; */
}
.todolabel.completed .title,.todolabel.completed .desc{
    /* text-decoration: line-through; */
    color: #999;
}
.todolabel.hide{display: none;}
.todolabel.list > .children{height: auto;}
.todolabel .title{
    position: relative;
    margin-block-end: 5px;
    height: 30px;
    line-height: 30px;
    width: 80%;
    padding-left: 50px;
    font-weight: normal;
    font-family: "microsoft yahei";
    font-size: 24px;
    /* border-left: 2px solid #aaa; */
}
.todolabel .title .titleEditBox{
    position: absolute;
    top: 0;
    left: 10px;
    width: 100%;
}
.todolabel .title .editTitle, .todolabel .desc .editDesc{
    /* position: absolute; */
    float: left;
    margin-left: 37px;
    width: calc(100% - 280px);
    height: 100%;
    border: 1px solid #39b0ff;
    background-color: #d6f4fe;
}
.todolabel .title .editTitleBtn, .todolabel .desc .editDescBtn{
    float: right;
    margin-top: 0;
    margin-right: 10px;
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    color: #666;
    background-color: #eee;
    border: 1px solid #aaa;
    cursor: pointer;
}
.todolabel .desc .editDescBtn{
    float: right;
    margin-top: 0;
    margin-right: 10px;
    width: 70px;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    color: #666;
}
.todolabel .desc{
    position: relative;
    /* margin-bottom: 3px; */
    padding-left: 50px;
    /* min-height: 20px; */
    max-height: 0;
    max-width: 90%;
    /* padding-left: 5px; */
    transition: all .7s ease;
    overflow: hidden;
}
.todolabel .desc.show{
    max-height: 100px;
    transition: all .7s ease;
}
.todolabel .desc .descEditBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 10px;
}


.todolabel .add-child, .todolabel .remove-this, .todolabel .complete-this, .todolabel .show-this, .todolabel .hide-this, .todolabel .list-this{
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 26px;
    color: #999;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    transition: all .7s ease;
}
.todolabel .add-child:hover, .todolabel .remove-this:hover{
    transform: rotate(180deg);
    transition: all .7s ease;
}
.todolabel .show-this.rotate{
    transform: rotate(180deg);
    transition: all .7s ease;
}
.todolabel .complete-this{left: 5px;}
.todolabel .remove-this{right: 45px;}
.todolabel .complete-this{right: 70px;}
.todolabel .show-this{right: 90px;}
.todolabel .hide-this{right: 130px;}
.todolabel .list-this{right: 170px;}
.todolabel .complete-this input[type="checkbox"]{top: 10px;}

.todolabel .children{
    margin-bottom: 10px;
    height: 0;
    overflow: hidden;
}

/* 
淡蓝色 #39b0ff 
背景蓝 #d6f4fe
*/

